body{
    font-family:  "segoe UI", sans-serif; 
}

.hero {
    background: linear-gradient(135deg, #927eec, #dd97dd);
    color: rgb(25, 24, 26);
    padding: 100px 0;
    text-align: center;

}

.cursor {
    display: inline-block;
    color: #007bff;
    animation: blink 1s infinite;
    font-weight: bold;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }

} 

.portofolio-card { 
    transition: transform 0.3s;
}

.portofolio-card:hover {
    transform: scale(1.05); 
}

footer { 
    background-color:#ac90f7;
    text-align: center;
    padding: 20px 0;

}